{% extends "../layout_list.html" %}

{% block subject %}
    Node
{% endblock %}

{% block add_url %}
    {% url "create_node" %}
{% endblock %}

{% block delete_url %}
    {% url "delete_node" object.id %}
{% endblock %}

{# The header for the representation table #}
{% block representation_header %}
    <th>ID</th>
    <th>IP-Address</th>
    <th>Comment</th>
{% endblock %}

{# The per-object entries of the representation table #}
{% block object_representation %}
    <td class="td-id">{{ object.id }}</td>
    <td>{{ object.ip }}</td>
    <td>{{ object.comment }}</td>
{% endblock %}