{% extends "layout_template.html" %}

{% block title %}
    Select Reservation Parameters
{% endblock %}

{% block header %}
    <h1>Select Reservation Parameters</h1>
{% endblock %}

{% block content %}

    <div>
        <b>Step 1:</b> Please select the desired reservation time and region type.
    </div>

    <form id="form" action="" method="post">
        {% csrf_token %}

        {% if form.errors %}
            <div class="danger_text">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <table>
            <tr>
                <th>Reservation Start Date</th>
                <td>{{ form.reservation_start_date }}</td>
            </tr>
            <tr>
                <th>Reservation End Date</th>
                <td>{{ form.reservation_end_date }}</td>
            </tr>
            <tr>
                <th>Region Type</th>
                <td>{{ form.region_type }}</td>
            </tr>
            <tr>
                <th>Consecutive Region Count</th>
                <td>{{ form.region_count }}</td>
            </tr>
        </table>

        <button type="submit" value="Save">Continue to next step</button>

    </form>

{% endblock %}