{% extends "layout_create.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/create_reservation.css" %}"/>
{% endblock %}


{% block subject %}
    Reservation
{% endblock %}

{% block form_body %}

        <table>
            <tr>
                <th></th>
                <td>as YYYY / MM / DD, hh:mm (24 hours format)</td>
            </tr>
            <tr>
                <th>Reservation Start Date</th>
                <td>{{ form.reservation_start_date }}</td>
            </tr>
            <tr>
                <th>Reservation End Date</th>
                <td>{{ form.reservation_end_date }}</td>
            </tr>
            <tr>
                <th>Region Type</th>
                <td>{{ form.region_type }}</td>
            </tr>
            <tr>
                <th>Consecutive Region Count</th>
                <td>{{ form.region_count }}</td>
            </tr>
        </table>

{% endblock %}