{% extends "layout_create.html" %}

{% block subject %}
    Reservation
{% endblock %}

{% block form_body %}

        <table>
            <tr>
                <th>Reservation Start Date</th>
                <td>{{ form.reservation_start_date }}</td>
                <td>as YYYY/MM/DD, HH:mm (24 hrs format)</td>
            </tr>
            <tr>
                <th>Reservation End Date</th>
                <td>{{ form.reservation_end_date }}</td>
            </tr>
            <tr>
                <th>Region Type</th>
                <td>{{ form.region_type }}</td>
            </tr>
            <tr>
                <th>Consecutive Region Count</th>
                <td>{{ form.region_count }}</td>
            </tr>
        </table>

{% endblock %}