{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/layout.css" %}"/>
</head>
<body>

<header>

    <div class="user_detail">
        {% if request.user.is_authenticated %}
            Logged in as <b>{{ request.user }}</b>
            <a href={% url 'logout' %}>Log out</a>
        {% else %}
            Not logged in
            <a href={% url 'login' %}>Log in</a>
        {% endif %}
    </div>

    <div class="header_title">
        {% block header %}{% endblock %}
    </div>

</header>

<nav>
    <b>Overview</b>
    <ul>
        <li><a href={% url 'list_nodes' %}>Nodes</a></li>
        <li><a href={% url 'list_producers' %}>Producers</a></li>
        <li><a href={% url 'list_region_types' %}>Region Types</a></li>
        <li><a href={% url 'list_fpga_models' %}>FPGA Models</a></li>
        <li><a href={% url 'list_fpgas' %}>FPGAs</a></li>
        <li><a href={% url 'select_reservation_parameters' %}>Make a Reservation</a></li>
    </ul>
</nav>

<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>