{% load static %}
{% load macros %}

<!DOCTYPE html>
{# Define a macro for the title text so it can be used in multiple spots of the layout #}
{# Since blocks only may be defined once. #}
{% macro title %}
    {% block title %}Undefined title{% endblock %}
{% endmacro %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% use_macro title %}</title>
    <link rel="stylesheet" href="{% static "css/layout.css" %}"/>
</head>
<body>

<header>

    <div class="user_detail">
        {% if request.user.is_authenticated %}
            Logged in as <b>{{ request.user }}</b>
            <a href={% url 'logout' %}>Log out</a>
        {% else %}
            Not logged in
            <a href={% url 'login' %}>Log in</a>
        {% endif %}
    </div>

    <div class="header_title">
        <h1>{% use_macro title %}</h1>
    </div>

</header>

<nav>
    <b>Overview</b>
    <ul>
        <li><a href={% url 'list_nodes' %}>Nodes</a></li>
        <li><a href={% url 'list_producers' %}>Producers</a></li>
        <li><a href={% url 'list_region_types' %}>Region Types</a></li>
        <li><a href={% url 'list_fpga_models' %}>FPGA Models</a></li>
        <li><a href={% url 'list_fpgas' %}>FPGAs</a></li>
        <li><a href={% url 'list_vfpgas' %}>Reservations</a></li>
    </ul>
</nav>

<div class="content">

    <!-- See if the system has returned any messages !-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %} {% endblock %}
</div>
</body>
</html>