{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/layout.css" %}"/>
</head>
<body>

<header>
    {% block header %}{% endblock %}
</header>

<nav>
    <b>Overview</b>
    <ul>
        <li><a href={% url 'list_nodes' %}>Nodes</a></li>
        <li><a href={% url 'list_producers' %}>Producers</a></li>
        <li><a href={% url 'list_region_types' %}>Region Types</a></li>
        <li><a href={% url 'list_fpga_models' %}>FPGA Models</a></li>
        <li><a href={% url 'list_fpgas' %}>FPGAs</a></li>
    </ul>
</nav>

<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>