{% extends "layout_template.html" %}

{% block title %}
    Available FPGAs
{% endblock %}

{% block header %}
    <h1>Available FPGAs</h1>
{% endblock %}

{% block content %}

    <p>
        {{ object_list|length }} entries in total. <a href={% url 'add_fpga' %}> Add a new FPGA</a><br>
    </p>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Node</th>
            <th>Model</th>
            <th>Node PCI</th>
            <th>Device PCI</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for fpga in object_list %}
            <tr>
                <!-- Caution! You have to use the names that django assigns for the fields!
                 See the 'name' field in the model declaration !-->
                <td class="td-id">{{ fpga.id }}</td>
                <td>{{ fpga.node }}</td>
                <td>{{ fpga.fpga_model }}</td>
                <td class="td-pci_address">{{ fpga.node_pci }}</td>
                <td class="td-pci_address">{{ fpga.device_pci }}</td>
                <td><a class="danger_link" href={% url 'delete_fpga' fpga.id %}>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}