{% extends "layout_general.html" %}

{% block title %}
    Available Producers
{% endblock %}

{% block header %}
    <h1>Available Producers</h1>
{% endblock %}

{% block content %}

    <p>
        {{ object_list|length }} entries in total. <a href={% url 'add_producer' %}> Add a new producer</a><br>
    </p>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for producer in object_list %}
            <tr>
                <!-- Caution! You have to use the names that django assigns for the fields!
                 See the 'name' field in the model declaration!-->
                <td class="td-id">{{ producer.id }}</td>
                <td>{{ producer.name }}</td>
                <td><a class="danger_link" href={% url 'delete_producer' producer.id %}>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}