{% extends "layout_general.html" %}

{% block title %}
    List FPGA Models
{% endblock %}

{% block header %}
    <h1>Available FPGA Models</h1>
{% endblock %}

{% block content %}

    <p>
        {{ object_list|length }} entries in total. <a href={% url 'add_fpga_model' %}> Add a new FPGA Model</a><br>
    </p>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Producer</th>
            <th>Designation</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for fpga_model in object_list %}
            <tr>
                <!-- Caution! You have to use the names that django assigns for the fields!
                 See the 'name' field in the model declaration!-->
                <td class="td-id">{{ fpga_model.id }}</td>
                <td>{{ fpga_model.producer.name }}</td>
                <td>{{ fpga_model.designation }}</td>
                <td><a class="danger_clickable" href={% url 'delete_fpga_model' fpga_model.id %}>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}