{% extends "layout_template.html" %}

{% block title %}
    View FPGA
{% endblock %}

{% block header %}
    <h1>View FPGA Details</h1>
{% endblock %}

{% block content %}

    <h2>Overview</h2>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ fpga.id }}</td>
        </tr>
        <tr>
            <th>Node</th>
            <td>{{ fpga.node }} ({{ fpga.node.ip }})</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ fpga.fpga_model }}</td>
        </tr>
        <tr>
            <th>Node PCI</th>
            <td>{{ fpga.node_pci }}</td>
        </tr>
        <tr>
            <th>Device PCI</th>
            <td>{{ fpga.device_pci }}</td>
        </tr>
    </table>

    <h2>Regions</h2>

    <table>
        <thead>
        <tr>
            <th>Index</th>
            <th>Type</th>
            <th>Reserved</th>
        </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <!-- Caution! You have to use the names that django assigns for the fields!
                 See the 'name' field in the model declaration !-->
                <td class="td-id">{{ region.index }}</td>
                <td>{{ region.region_type }}</td>
                <td>{{ region.reserved_by }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Device variables</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for device_variable in device_variables %}
            <tr>
                <!-- Caution! You have to use the names that django assigns for the fields!
                 See the 'name' field in the model declaration !-->
                <td>{{ device_variable.name }}</td>
                <td>{{ device_variable.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}