{% extends "../layout_list.html" %}

{% block subject %}
    Producer
{% endblock %}

{% block add_url %}
    {% url "create_producer" %}
{% endblock %}

{% block delete_url %}
    {% url "delete_producer" object.id %}
{% endblock %}

{# The header for the representation table #}
{% block representation_header %}
    <th>ID</th>
    <th>Name</th>
{% endblock %}

{# The per-object entries of the representation table #}
{% block object_representation %}
    <td class="td-id">{{ object.id }}</td>
    <td>{{ object.name }}</td>
{% endblock %}