{% extends "../layout_delete.html" %}

{% block subject %}
    FPGA
{% endblock %}

{% block object_representation %}

    <table>
        <tr>
            <th>ID</th>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <th>Node</th>
            <td>{{ object.node }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ object.fpga_model }}</td>
        </tr>
        <tr>
            <th>Node PCI</th>
            <td>{{ object.node_pci }}</td>
        </tr>
        <tr>
            <th>Device PCI</th>
            <td>{{ object.device_pci }}</td>
        </tr>
    </table>

{% endblock %}

{% block warnings %}
        This will also delete
        <ul>
            <li>All regions associated with this FPGA</li>
            <li>All reservations made on above regions</li>
            <li>All device variables associated with this FPGA</li>
        </ul>
{% endblock %}


