{% extends "../layout_list.html" %}

{% block subject %}
    FPGA
{% endblock %}

{% block add_url %}
    {% url "create_fpga" %}
{% endblock %}

{% block delete_url %}
    {% url "delete_fpga" object.id %}
{% endblock %}

{# The header for the representation table #}
{% block representation_header %}
    <th>ID</th>
    <th>Node</th>
    <th>Model</th>
    <th>Node PCI</th>
    <th>Device PCI</th>
    <th></th>
{% endblock %}

{# The per-object entries of the representation table #}
{% block object_representation %}
    <td class="td-id">{{ object.id }}</td>
    <td>{{ object.node }}</td>
    <td>{{ object.fpga_model }}</td>
    <td class="td-pci_address">{{ object.node_pci }}</td>
    <td class="td-pci_address">{{ object.device_pci }}</td>
    <td><a href={% url 'show_fpga' object.id %}>Details</a></td> {# This is a hack until the template supports it... #}
{% endblock %}