{% extends "../layout_general.html" %}

{% block title %}
    View FPGA
{% endblock %}

{% block header %}
    <h1>View FPGA Details</h1>
{% endblock %}

{% block content %}

    <section>
        <h2>Overview</h2>

        <table>
            <tr>
                <th>ID</th>
                <td>{{ fpga.id }}</td>
            </tr>
            <tr>
                <th>Node</th>
                <td>{{ fpga.node }} ({{ fpga.node.ip }})</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ fpga.fpga_model }}</td>
            </tr>
            <tr>
                <th>Node PCI</th>
                <td>{{ fpga.node_pci }}</td>
            </tr>
            <tr>
                <th>Device PCI</th>
                <td>{{ fpga.device_pci }}</td>
            </tr>
            <tr>
                <th>Region Type</th>
                <td>{{ fpga.fpga_model.region_type }}</td>
            </tr>
            <tr>
                <th>Region Count</th>
                <td>{{ fpga.fpga_model.region_count }}</td>
            </tr>
        </table>
    </section>
    <hr>
    <section>
        <h2> Region Details </h2>

        <table>
            <thead>
            <th>Index</th>
            <th>Device Path</th>
            <th>Reservations</th>
            </thead>
            <tbody>
            {% for reservation in reservations.items %}
                <tr>
                    <td class="td-id">{{ reservation.0.index }}</td>
                    <td>{{ reservation.0.memory_device_path }}</td>
                    <td>
                        {% for entry in reservation.1 %}
                            {{ entry.as_timespan }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <hr>
    <section>
        <h2>Device variables</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for device_variable in device_variables %}
                <tr>
                    <!-- Caution! You have to use the names that django assigns for the fields!
                     See the 'name' field in the model declaration !-->
                    <td>{{ device_variable.name }}</td>
                    <td>{{ device_variable.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}