
.content {
    background-color: lightskyblue;
}

nav {
    background-color: lightblue;
}

th {
    padding: 0.3em 0.5em;
}

td {
    padding: 0.3em 0.5em;
}

tr:hover {
    background-color: lightblue;
    border-color: lightblue;
}

button {
    font-size: inherit;
    color: black;
    background-color: lightgray;
    border: none;
    padding: 0.15em 1em;
    margin: 5px;
}

button:hover {
    color: black;
    background-color: lightgray;
    border: solid 1px;
    margin: 4px;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border: none;
    padding: 0.15em 1em;
    margin: 5px;
}

a:hover {
    color: black;
    background-color: lightgray;
    border: solid 1px;
    margin: 4px;
}

.danger_button {
    color: white;
    background-color: darkred;
    font-weight: bold;
}

.danger_button:hover {
    color: white;
    background-color: darkred;
    /* Flashing red border*/
    animation-name: danger_flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.danger_link {
    color: white;
    background-color: darkred;
    font-weight: bold;
}

.danger_link:hover {
    color: white;
    background-color: darkred;
    /* Flashing red border*/
    animation-name: danger_flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes danger_flash {
    0% {
        background-color: darkred;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: darkred;
    }
}

.danger_text {
    border: solid darkred 0.15em;
    padding: 1em;
}