/* All the custom input fields for date and time */

/* Start date */

input {
    font-family: monospace;
    width: 3em;
}

input#id_reservation_start_date_0 { /* start year */
    width: 4em;
}

/* End date */

input#id_reservation_end_date_0 { /* end year */
    width: 4em;
}