:root {
    --bg-color: #D5D3BF;
    --alt-bg-color: #C8C5AC;
    --button-color: #B5B292;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--alt-bg-color);
    clear: both;
    padding: 1em;
}

nav {
    float: left;
    height: 100%;
    background: var(--alt-bg-color);
    padding-left: 1em;
    padding-right: 1em;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: bold;
    padding: 0.3em 0.5em;
}

tr {
    vertical-align: top;
}

tr:hover {
    background-color: var(--alt-bg-color);
}

td {
    padding: 0.3em 0.5em;
}

button {
    font-size: inherit;
    color: black;
    background-color: var(--button-color);
    border: none;
    padding: 0.15em 1em;
    margin: 5px;
}

button:hover {
    border: solid 1px;
    margin: 4px;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: black;
    background-color: var(--button-color);
    border: none;
    padding: 0.15em 0.5em;
    margin: 5px;
}

a:hover {
    border: solid 1px var(--button-color);
    margin: 4px;
    background-color: var(--bg-color);
}

div.header_title {
    text-align: center;
}

div.user_detail {
    float: right;
    display: inline;
    padding: 1em;
    text-align: left;
}

div.centered_text {
    justify-content: center;
    text-align: center;
    align-content: center;
}

div.content {
    overflow: hidden;
    padding: 1em;
    height: 100%;
}

hr {
    background: var(--alt-bg-color);
    border-style: none;
    height: 0.25em;
}

.td-id {
    text-align: right;
}

.td-textfield {
    max-width: 40em;
}

.td-pci_address {
    max-width: 12em;
    font-family: monospace;
    vertical-align: center;
}

.danger_button {
    color: white;
    background-color: darkred;
    font-weight: bold;
}

.danger_button:hover {
    /* Flashing red border*/
    animation-name: danger_flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.danger_link {
    color: white;
    background-color: darkred;
    font-weight: bold;
}

.danger_link:hover {
    /* Flashing red border*/
    animation-name: danger_flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes danger_flash {
    0% {
        background-color: darkred;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: darkred;
    }
}

.danger_text {
    border: solid darkred 0.15em;
    padding: 1em;
}

#abort_form {
    display: inline;
}

#delete_form {
    display: inline;
}

/* All the custom input fields for date and time */
/* TODO this is custom css for one page... externalize*/
input#id_reservation_start_date_year {
    width: 4em;
}

input#id_reservation_start_date_month {
    width: 3em;
}

input#id_reservation_start_date_day {
    width: 3em;
}

input#id_reservation_start_date_hour {
    width: 3em;
}

input#id_reservation_start_date_minute {
    width: 3em;
}