{% extends "../layout_list.html" %}

{% block subject %}
    Region Type
{% endblock %}

{% block add_url %}
    {% url "create_region_type" %}
{% endblock %}

{% block delete_url %}
    {% url "delete_region_type" object.id %}
{% endblock %}

{# The header for the representation table #}
{% block representation_header %}
    <th>ID</th>
    <th>LUTs</th>
    <th>Registers</th>
    <th>BlockRAM</th>
{% endblock %}

{# The per-object entries of the representation table #}
{% block object_representation %}
    <td class="td-id">{{ object.id }}</td>
    <td>{{ object.lut_count }}</td>
    <td>{{ object.register_count }}</td>
    <td>{{ object.blockram_size }}</td>
{% endblock %}