{% extends "../layout_general.html" %}

{% block title %}
    Available Region Types
{% endblock %}

{% block header %}
    <h1>Available Region Types</h1>
{% endblock %}

{% block content %}

    <p>
        {{ object_list|length }} entries in total. <a href={% url 'add_region_type' %}> Add a new region type</a><br>
    </p>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>LUTs</th>
            <th>Registers</th>
            <th>BlockRAM</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for region_type in object_list %}
            <tr>
                <!-- Caution! You have to use the names that django assigns for the fields!
                 See the 'name' field in the model declaration!-->
                <td class="td-id">{{ region_type.id }}</td>
                <td>{{ region_type.lut_count }}</td>
                <td>{{ region_type.register_count }}</td>
                <td>{{ region_type.blockram_size }}</td>
                <td><a class="danger_clickable" href={% url 'delete_region_type' region_type.id %}>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}