{% extends "layout_general.html" %}

{% block title %}
    Delete FPGA model
{% endblock %}

{% block header %}
    <h1>Delete FPGA</h1>
{% endblock %}

{% block content %}

    <table>
        <tr>
            <th>ID</th>
            <td>{{ fpga.id }}</td>
        </tr>
        <tr>
            <th>Node</th>
            <td>{{ fpga.node }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ fpga.fpga_model }}</td>
        </tr>
        <tr>
            <th>Node PCI</th>
            <td>{{ fpga.node_pci }}</td>
        </tr>
        <tr>
            <th>Device PCI</th>
            <td>{{ fpga.device_pci }}</td>
        </tr>
    </table>

    <div class="danger_text">
        <strong>Caution!</strong><br>
        This will also delete
        <ul>
            <li>All vFPGAs associated with this FPGA</li>
            <li>All reservations made on above vFPGAs</li>
            <li>All device variables associated with this FPGA</li>
            <li>All regions associated with this FPGA</li>
        </ul>
        <br>
        Are you sure?
    </div>

    <a href="{% url 'list_fpgas' %}">Abort</a>

    <form id="delete_form" action="" method="post">
        {% csrf_token %}
        <button type="submit" value="Confirm" class="danger_clickable">Delete</button>
    </form>


{% endblock %}