:root {

    /* Color palette definition */
    --std-bg-color: #B9BFC9;
    --std-font-color: black;
    --alt-bg-color: #002557; /*TUD-blue*/
    --alt-font-color: #B9BFC9;
    --btn-bg-color: #B9BFC9;
    --btn-font-color: #002557;
    --danger-bg-color: #C8AC9B;
    --danger-font-color: #8E3600;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: var(--std-bg-color);
    color: var(--std-font-color);
}

header {
    background-color: var(--alt-bg-color);
    color: var(--alt-font-color);
    clear: both;
    padding: 1em;
}

nav {
    float: left;
    height: 100%;
    background: var(--alt-bg-color);
    color: var(--alt-font-color);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: bold;
    padding: 0.3em 0.5em;
}

tr {
    vertical-align: top;
}

tr:hover {
    background-color: var(--alt-bg-color);
    color: var(--alt-font-color);
}

td {
    padding: 0.3em 0.5em;
}

button {
    font-size: inherit;
    background-color: var(--btn-bg-color);
    color: var(--btn-font-color);
    border: none;
    padding: 0.15em 0.5em;
    margin: 5px;
}

button:hover {
    border: solid 1px var(--std-font-color);;
    margin: 4px;
    background-color: var(--std-bg-color);
    color: var(--std-font-color);
}

a {
    font-size: inherit;
    text-decoration: none; /* Don't underline links*/
    background-color: var(--btn-bg-color);
    color: var(--btn-font-color);
    border: none;
    padding: 0.15em 0.5em;
    margin: 5px;
}

a:hover {
    border: solid 1px var(--std-font-color);;
    margin: 4px;
    background-color: var(--std-bg-color);
    color: var(--std-font-color);
}

div.header_title {
    text-align: center;
    vertical-align: center;
    display: inline;
    overflow: auto;
    height: 4em;
    line-height: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
}

div.user_detail {
    float: right;
    display: inline;
    padding: 1em;
    text-align: left;
}

div.centered_text {
    justify-content: center;
    text-align: center;
    align-content: center;
}

div.content {
    overflow: hidden;
    padding: 1em;
    height: 100%;
}

hr {
    background: var(--alt-bg-color);
    color: var(--alt-font-color);
    border-style: none;
    height: 0.25em;
}

img.logo {
    vertical-align: middle;
    height: 5em;
    float: left;
    overflow: auto;
    margin: auto;
    padding: 0.5em;
}

.td-id {
    text-align: right;
}

.td-textfield {
    max-width: 40em;
}

.td-pci_address {
    max-width: 12em;
    font-family: monospace;
    vertical-align: center;
}

.danger_clickable {
    color: var(--btn-font-color);
    background-color: var(--btn-bg-color);
    font-weight: bold;
}

.danger_clickable:hover {
    animation-name: danger_flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes danger_flash {
    0% {
        color: var(--btn-font-color);
        background-color: var(--btn-bg-color);
    }
    50% {
        background-color: var(--danger-bg-color);
        color: var(--danger-font-color);
    }
    100% {
        color: var(--btn-font-color);
        background-color: var(--btn-bg-color);
    }
}

.danger_text {
    border: solid var(--danger-font-color) 0.15em;
    padding: 1em;
    color: var(--danger-font-color);
}

#abort_form {
    display: inline;
}

#delete_form {
    display: inline;
}